.form-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  $this: &;

  &__elem {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin-right: -1px;

    &:checked~#{$this}__visual::before {
      display: block;
    }
  }

  &__visual {
    position: relative;
    width: px2rem(25); 
    height: px2rem(25);
    background-color: #fff;
    border-radius: 50%;
    margin-right: px2rem(10);

    &::before {
      position: absolute;
      content: "";
      display: none;
      width: px2rem(13);
      height: px2rem(13);
      border-radius: 50%;
      background-color: $hover-text-color;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--checkbox {
    #{$this}__visual {
      width: px2rem(24);
      height: px2rem(24);
      border-radius: px2rem(4);

      &::before {
        background: url("./images/icons/sprite.svg#check") left -37px top -35px no-repeat;
      }
    }
  }
}