.form {
  &__inner {
    display: flex;

    @include mq-medium {
      flex-direction: column;
      padding-left: 12%;
      padding-right: 12%;
    }

    @include mq-small {
      padding-left: px2rem(4);
      padding-right: px2rem(4);
    }
  }

  &__column {
    flex: 1;

    &:first-of-type {
      margin-right: px2rem(18);

      @include mq-medium {
        margin-right: 0;
      }
    }
  }

  &__row {
    display: flex;
    margin-bottom: px2rem(12);

    &--controls {
      flex-wrap: wrap;
      padding-top: px2rem(22);
      padding-bottom: 0;
      margin-bottom: 0;

      @include mq-medium {
        padding-top: px2rem(6);
        margin-bottom: px2rem(22);
      }

      @include mq-small {
        justify-content: center;
        margin-bottom: px2rem(20);
      }
    }

    &--buttons {
      margin-top: px2rem(48);

      @include mq-medium {
        justify-content: center;
        margin-top: px2rem(36);
      }

      @include mq-small {
        // margin-top: px2rem(44);
        padding-left: px2rem(122);
        padding-right: px2rem(106);
      }
    }
  }

  &__row-element {
    flex: 1;
    margin-right: px2rem(14);
  }

  &__row-element:last-of-type {
    margin-right: 0;
  }



  &__row--control {
    margin-right: px2rem(24);

    &:last-of-type {
      margin-right: 0;
    }
  }
}