.reviews {
  width: 100%;
  font-size: 16px;
  line-height: 1.125;
  color: #8F8F8F;
  padding: 20px 0;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 14px;
  max-height: 40px;
  overflow: auto;

  &--popup {
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: white;
    width: 400px;
    max-height: 150px;
    overflow: auto;
    margin-bottom: 0;
    padding: 20px 18px;
    box-shadow: 0 0 4px 2px  rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }
}

.reviews__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.reviews__list--popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-color: beige;
  height: 100%;
}